.header-cont{
    background: black;
}

.header-cont>img{
    width: 50px;
}

#card-style{
    height: 100%;
    background: rgba(43, 58, 70, 0.705);
    padding-top: 15px;
    padding-bottom: 20px;}
  
    #card-style > img{
      width: 110px;
      align-self: center;
    }
  
    h5{
      color: white;
      text-align: center;
    }
    p{
      color: grey;
      text-align: center
    }

.card-boxx{
  height: 100vh;
    background-color: rgba(0, 0, 97, 0.911);
}
.style-select{
  width: 20%;
}
  